<div class="container">
  <h1 class='text-center'>Nouveau combat</h1>
  <%= form_for @combat do |f| %>
    <% if @combat.errors.any? %>
      <ul>
        <% @combat.errors.full_messages.each do |message| %>
          <li class="error-message"><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <div class="row text-center" style="margin-bottom: 20px;">
      <% number = 0 %>
      <%= f.simple_fields_for :joueurs do |joueurs_form| %>
        <% number += 1 %>
        <h2>Joueur <%= number %></h2>
        <p>Personnage</p>
        <%= joueurs_form.collection_select :personnage_id, Personnage.all, :id, :nom %>
        <p>Arme</p>
        <%= joueurs_form.collection_select :arme_id, Arme.all, :id, :nom %>
        <p>Bouclier</p>
        <%= joueurs_form.collection_select :bouclier_id, Bouclier.all, :id, :nom %>
      <% end %>
    </div>
    <div class="row">
      <div class="text-center">
        <%= f.submit 'Lancer le combat', class: 'btn btn-primary'%>
      </div>
    </div>
  <% end %>
</div>
