<div class="container">
  <h1 class="text-center">Resultat</h1>
  <div class="col-xs-12 col-md-6 text-center">
    <i class="fas fa-trophy" style="font-size: 60px; color: yellow;"></i>
    <p>Vainqueur</p>
    <% @combat.joueurs.each do |joueur| %>
      <% if joueur.resultat == 'Vainqueur' %>
        <h2><%= joueur.personnage.nom.capitalize %></h2>
        <h3>Coups donnés : <%= joueur.coups_donnés %></h3>
        <h3>Coups esquivés : <%= joueur.coups_esquivés %></h3>
      <% end %>
    <% end %>
  </div>
  <div class="col-xs-12 col-md-6 text-center">
    <i class="fas fa-window-close" style="font-size: 60px; color: red;"></i>
    <p>Perdant</p>
    <% @combat.joueurs.each do |joueur| %>
      <% if joueur.resultat == 'Perdant' %>
        <h2><%= joueur.personnage.nom.capitalize %></h2>
        <h3>Coups donnés : <%= joueur.coups_donnés %></h3>
        <h3>Coups esquivés : <%= joueur.coups_esquivés %></h3>
      <% end %>
    <% end %>
  </div>
</div>
