<div class="container">
  <h1 class="text-center">Nouveau personnage</h1>
  <div class="row form">
    <div class="col-sm-4 col-sm-offset-4">
      <%= simple_form_for(@personnage) do |f| %>
        <% if @personnage.errors.any? %>
          <ul>
            <% @personnage.errors.full_messages.each do |message| %>
              <li class="error-message"><%= message %></li>
            <% end %>
          </ul>
        <% end %>
        <%= f.input :nom %>
        <%= f.input :points_vie %>
        <%= f.input :points_attaque %>
        <%= f.input :points_agilite %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <div class="text-center">
          <%= f.submit class: 'btn btn-primary'%>
        </div>
      <% end %>
    </div>
  </div>
</div>

