<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Personnages</h1>
    </div>
  </div>
  <div class="row">
    <% @personnages.each do |personnage| %>
      <div class="col-xs-12 col-sm-4">
        <%= link_to personnage_path(personnage) do %>
          <h3><%= personnage.nom %></h3>
          <p>Points de vie : <%= personnage.points_vie %></p>
          <p>Points d'attaque : <%= personnage.points_attaque %></p>
          <%= link_to 'Edit', edit_personnage_path(personnage) %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-sm-3 col-sm-offset-8">
      <%= link_to 'Créer un personnage', new_personnage_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
